asgiref
attrs
celery
dj-audit
Django
django-audit
django-auditlog
django-environ
django-filter
django-htmx
django-tenants
djangorestframework
dnspython
drf-spectacular
inflection
jsonschema
jsonschema-specifications
numpy
psycopg2-binary
pymongo
python-dateutil
PyYAML
redis
referencing
rpds-py
six
sqlparse
uritemplate
whitenoise
