{% extends 'layout.html' %}
{% load i18n %}
{% block title %}{% if object %}{% trans 'Edit fee schedule item' %}{% else %}{% trans 'Add fee schedule item' %}{% endif %}{% endblock %}
{% block content %}
{% if object %}{% url 'billing:fee_schedule_detail' object.fee_schedule.pk as cancel_url %}{% else %}{% url 'billing:fee_schedule_list' as cancel_url %}{% endif %}
{% if object %}{% trans 'Edit fee schedule item' as page_title %}{% else %}{% trans 'Add fee schedule item' as page_title %}{% endif %}
{% trans 'Save item' as submit_label %}
{% include 'billing/_form_page.html' %}
{% endblock %}
