{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Delete Fee Schedule Item' %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5>{% trans 'Delete Fee Schedule Item' %}</h5>
            <p>{% blocktrans with code=object.procedure_code %}Are you sure you want to delete "{{ code }}"?{% endblocktrans %}</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">{% trans 'Delete' %}</button>
                <a href="{% url 'billing:fee_schedule_detail' object.fee_schedule.pk %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
